{% extends 'base.html' %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Loan ID</th>
                <th>Amount</th>
                <th>Interest rate</th>
                <th>Balance</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Type</th>
                <th>Next Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
            <tr>
                <td>{{ loan[0] }}</td>
                <td>{{ loan[1] }}</td>
                <td>{{ loan[2] }}</td>
                <td>{{ loan[3] }}</td>
                <td>{{ loan[4] }}</td>
                <td>{{ loan[5] }}</td>
                <td>{{ loan[6] }}</td>
                <td>{{ loan[7] }}</td>
                <td><input type="checkbox" style="visibility:hidden"></td>
                <td>
                    <form action='/delete_loan' method="POST">
                        <input type="hidden" name="loanID" value="{{ loan[0] }}">
                        <button id = "delete" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Add Loan" onclick="window.location.href='/new_loan'">
{% endblock %}