{% extends 'base.html' %}
{% block content %}
<head>
    <title>Reports</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Reports</h1>
    <img src="/plot_payMode.png" alt="payMode distribution">
    Predicted expenditure for next month is ₹<span id="predicted-expenditure" style="font-weight: bold;">{{ predicted_expenditure }}</span>
    <br\>
    <span id="predicted-expenditure" style="font-weight: bold;">{{ content }}</span>
    <!-- FILEPATH: /home/prabhav/Desktop/RVCE/DBMS/templates/reports.html -->
    <!-- This code displays an image with the source "/plot_Category.png" and an alternative text "Category distribution". -->

{% endblock %}

