{% extends 'base.html' %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Expense ID</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
                <th>Mode of Payment</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense[0] }}</td>
                <td>{{ expense[1] }}</td>
                <td>{{ expense[2] }}</td>
                <td>{{ expense[3] }}</td>
                <td>{{ expense[4] }}</td>
                <td><input type="checkbox" style="visibility:hidden"></td>
                <td>
                    <form action='/delete_expense' method="POST">
                        <input type="hidden" name="expenseID" value="{{ expense[0] }}">
                        <button id = "delete" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Add Expense" onclick="window.location.href='/new_expense'">
{% endblock %}